absl-py==1.4.0
aiohttp==3.8.4
aioice==0.7.5
aiortc==1.2.1
aiosignal==1.2.0
alabaster==0.7.13
alembic==1.11.1
altair==5.0.1
ampligraph==2.0.0
ansi2html==1.8.0
anyio==3.7.0
aplus==0.11.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astropy==5.2.2
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.1
attrs==23.1.0
av==8.0.3
Babel==2.12.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
beautifultable==1.1.0
blake3==0.3.3
bleach==6.0.0
blinker==1.6.2
bqplot==0.12.39
branca==0.6.0
cachetools==5.3.1
category-encoders==2.6.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.12
cherche==0.1.0
class-resolver==0.4.2
click==8.0.1
click-default-group==1.2.2
cloudpickle==2.2.1
cmaes==0.9.1
cmake==3.26.3
colorama==0.4.6
colorlog==6.7.0
comm==0.1.3
commonmark==0.9.1
contextlib2==21.6.0
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.35
dacite==1.8.1
dash==2.10.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.5.0
dataclasses-json==0.5.7
deap==1.3.3
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dnspython==2.1.0
docdata==0.0.3
docopt==0.6.2
docutils==0.17.1
elastic-transport==8.4.0
elasticsearch==8.8.0
exceptiongroup==1.1.1
executing==1.2.0
faiss-cpu==1.7.4
fastapi==0.96.0
fastjsonschema==2.17.1
feedparser==6.0.10
filelock==3.12.0
flake8==6.0.0
flashtext==2.7
Flask==2.0.1
Flask-Cors==3.0.10
flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
frozendict==2.3.8
frozenlist==1.2.0
fsspec==2023.6.0
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-search-results==2.4.2
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.54.2
h11==0.14.0
h5py==3.8.0
htmlmin==0.1.12
httptools==0.5.0
huggingface-hub==0.15.1
idna==3.4
ImageHash==4.3.1
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipydatawidgets==4.3.3
ipykernel==6.23.1
ipyleaflet==0.17.3
ipympl==0.9.3
ipython==8.12.2
ipython-genutils==0.2.0
ipyvolume==0.6.3
ipyvue==1.9.1
ipyvuetify==1.8.10
ipywebrtc==0.6.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.12
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kaleido==0.2.1
keras==2.12.0
kgsearch @ git+https://github.com/raphaelsty/kgsearch@0ffe6bbd231dff83ab446000354f57cea60b0b10
kiwisolver==1.4.4
langchain==0.0.190
latexcodec==2.0.1
libclang==16.0.0
lightgbm==3.3.5
lit==16.0.5.post0
llvmlite==0.40.1rc1
locket==1.0.0
lunr==0.6.2
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune==2.0.5
ml-dtypes==0.2.0
more-click==0.1.2
more-itertools==9.1.0
mpmath==1.3.0
multidict==5.2.0
multimethod==1.9.1
mypy-extensions==1.0.0
myst-parser==0.18.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numba==0.57.0
numexpr==2.8.4
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
openai==0.27.7
openapi-schema-pydantic==1.2.4
opencv-python==4.5.4.60
opt-einsum==3.3.0
optuna==3.2.0
ordered-set==4.1.0
orjson==3.9.1
overrides==7.3.1
packaging==23.1
pandas==1.5.3
pandas-profiling==3.6.6
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
patsy==0.5.3
pexpect==4.8.0
phik==0.12.3
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.1
plotly==5.15.0
plotly-resampler==0.8.3.2
pluggy==1.0.0
pmdarima==2.0.3
progressbar2==4.2.0
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybtex==0.24.0
pybtex-docutils==1.0.2
pycaret==3.0.2
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.8
pydeck==0.8.1b0
pyee==8.2.2
pyerfa==2.0.0.3
pyflakes==3.0.1
Pygments==2.15.1
pykeen @ git+https://github.com/pykeen/pykeen.git@cb226fc1ff946f0bc6c1296ea5d3ee87a4ef773b
PyLaTeX==1.4.1
pylibsrtp==0.6.8
Pympler==1.0.1
pyod==1.0.9
pyparsing==3.0.9
pyrsistent==0.19.3
pystow==0.5.0
pytest==7.3.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-json-logger==2.0.7
python-utils==3.6.0
pythreejs==2.4.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
quantities==0.13.0
rank-bm25==0.2.1
rapidfuzz==3.1.1
rdflib==6.3.2
regex==2023.6.3
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.4
rexmex==0.1.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
river==0.17.0
rsa==4.9
safetensors==0.3.1
schema==0.7.5
schemdraw==0.15
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sgmllib3k==1.0.0
six==1.16.0
sktime==0.17.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.15
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
streamlit==1.23.1
streamlit-aggrid==0.3.4.post3
sympy==1.12
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tbats==1.1.3
tenacity==8.2.2
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torch-max-mem==0.0.5
torch-ppr==0.0.8
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
trace-updater==0.0.9.1
traitlets==5.9.0
traittypes==0.2.1
transformers==4.30.1
triton==2.0.0
typeguard==2.13.3
typing-inspect==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3
uri-template==1.2.0
urllib3==1.26.16
uvicorn==0.22.0
uvloop==0.17.0
vaex==4.16.0
vaex-astro==0.9.3
vaex-core==4.16.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.1
vaex-ml==0.18.1
vaex-server==0.8.1
vaex-viz==0.5.4
validators==0.20.0
visions==0.7.5
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.2
websockets==11.0.3
Werkzeug==2.2.2
widgetsnbextension==4.0.7
wordcloud==1.9.2
wrapt==1.14.1
wurlitzer==3.0.3
xarray==2023.1.0
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.2.0
xyzservices==2023.5.0
yarl==1.7.2
ydata-profiling==4.2.0
yellowbrick==1.5
zipp==3.15.0
